@using Projector.Models.InputModels
@model CreateNewPersonInputModel
@{
	ViewData["Title"] = "Create Person";
}
<style>
    .return-link {
        width: max-content;
    }
</style>

<a asp-action="Index" asp-controller="Projects" class="d-flex gap-1 align-items-center justify-content-center return-link mb-2 btn btn-primary">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z" />
    </svg>
    Return to Projects
</a>

<h2>Create a Person</h2>

<form asp-action="Create" method="post">
    @Html.AntiForgeryToken()
    <div class="form-group">
        <label asp-for="FirstName" class="control-label">First Name</label>
        <input asp-for="FirstName" type="text" maxlength="50" class="form-control" placeholder="Enter first name" required autocomplete="off" />
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="LastName" class="control-label">Last Name</label>
        <input asp-for="LastName" type="text" maxlength="50" class="form-control" placeholder="Enter last name" required autocomplete="off" />
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="UserName" class="control-label">Username</label>
        <input asp-for="UserName" type="email" minlength="5" maxlength="200" required class="form-control" placeholder="Enter username" autocomplete="off" />
        <span asp-validation-for="UserName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password" class="control-label">Password</label>
        <input asp-for="Password" type="password" minlength="7" maxlength="11" required class="form-control" placeholder="Enter password" autocomplete="off" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary mt-3">Save</button>
</form>
<div asp-validation-summary="All" class="text-danger"></div>
