@using Projector.Models.OutputModels
@model List<PersonDTO>
@{
    ViewData["Title"] = "Persons";
}

<div class="d-flex align-items-center gap-3 mb-4">
    <h1 class="page-title m-0">People Overview</h1>
</div>

<div class="container-fluid px-0">
    <div class="row">
        <div class="col-12">
            <div class="persons-container">
                <div class="persons-table">
                    <table class="table table-hover align-middle mb-0">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Username</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var person in Model)
                            {
                                <tr>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <div class="avatar-circle me-3 bg-primary bg-opacity-10 text-primary">
                                                @(person.FirstName?.Length > 0 ? person.FirstName[0].ToString().ToUpper() : "")@(person.LastName?.Length > 0 ? person.LastName[0].ToString().ToUpper() : "")
                                            </div>
                                            <div>
                                                <div class="fw-medium">@person.LastName, @person.FirstName</div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <span class="username-badge">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-fill me-2" viewBox="0 0 16 16">
                                                <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414zM0 4.697v7.104l5.803-3.558zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586zm3.436-.586L16 11.801V4.697z"/>
                                            </svg>
                                            @person.Username
                                        </span>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="mt-4">
                    <a asp-action="Create" class="btn btn-primary">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-plus-fill me-2" viewBox="0 0 16 16">
                            <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
                            <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5"/>
                        </svg>
                        Add New Person
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>